// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #010101;
$color-cerulean: #0093d7;
$color-dove-gray: #666;
$color-gallery: #eee;
$color-mine-shaft: #333; 
$color-transparent: transparent;
$color-white: #fff;

// FONTS
$font-family-roboto: "Roboto", sans-serif;

// FOUNDATION VARIABLE REDEFINITION
$body-background: $color-gallery;
$body-font-family: $font-family-roboto;
$body-font-color: $color-black;
$global-weight-normal: 500;

// Grid
$global-width: 660px;
$global-font-size: 12px;
$grid-column-gutter: (
  small: 20px
);
$grid-container-padding: 20px;

// Typography
$lead-font-size: $global-font-size * 1.5;
$lead-lineheight: 1.334;

// Input
$input-padding: 0;
$input-color: $color-dove-gray;
$input-font-size: 1rem;
$input-line-height: 1.833;
$input-placeholder-color: $color-dove-gray;
$input-background: $color-transparent;
$input-background-focus: $color-transparent;
$input-background-disabled: $color-transparent;
$input-border: none;
$input-border-focus: none;
$input-shadow: none;
$input-shadow-focus: none;
$form-label-color: $color-dove-gray;
$form-label-font-size: 1rem;
$form-label-line-height: 2rem;
